.img{
    height: 69vw;
    text-align: center;
    padding: 25px 50px;
}
.img>img{
    height: 55vw;
}
.page-content .name{
    height: 6vh;
    line-height: 6vh;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.page-content .name h3{
    padding-left: 15px;
}
.info{
    padding: 10px 15px;
}
.info .box{
    height: 6vh;
    line-height: 6vh;
}
.info .box .left{
    width: 25vw;;
    display: inline-block;
}

.name .introduce{
    padding: 15px ;
    text-indent: 2em;
}