<div class="page-body">
  <app-return-header message={{message}}></app-return-header>
  <div class="page-content">
    <form action="" #registerForm="ngForm" (submit)="submitForm(registerForm)">
      <div class="load-input">
        <label for="" class="input-label">用 户 名 :</label>
        <input type="text" class="inputBox" name="userName" ngModel #userName="ngModel" require pattern="[a-zA-Z][a-zA-Z0-9]{5,15}">
        <div class="promptBox" *ngIf="userName.errors?.required && userName.touched">用户名不能为空</div>
        <div class="promptBox" *ngIf="userName.errors?.pattern">用户名以字母开头,长度为6-16位</div>
      </div>
      <div class="load-input">
        <label for="" class="input-label">密 &nbsp; &nbsp; 码 :</label>
        <input type="text" class="inputBox" name="userPwd" ngModel #userPwd="ngModel" required pattern="\w{6,12}">
        <div class="promptBox" *ngIf="userPwd.errors?.required && userPwd.touched">用户名不能为空</div>
        <div class="promptBox" *ngIf="userPwd.errors?.pattern">密码为6-12位的非空白字符</div>
      </div>
      <div class="load-input">
        <label for="" class="input-label">确认密码:</label>
        <input type="text" class="inputBox" name="userSurePwd" ngModel #userSurePwd="ngModel" required pattern="\w{6,12}">
        <div class="promptBox" *ngIf="userSurePwd.value!=userPwd.value && userSurePwd.touched">两次密码不一致</div>
      </div>
      <div class="load-input button">
        <button class="activeClick" [disabled]="registerForm.invalid && userSurePwd.value!=userPwd.value" (click)="btn_onclick()" [routerLink]="[ '/login']">注 册</button> &nbsp; &nbsp;
        <button (click)="btn_cancel()">取 消</button>
      </div>
    </form>
    <app-flash-page></app-flash-page>
  </div>
</div>
