.page_flash{
    position: absolute;
    top: 0;left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.flash_page{
    position: relative;
    top: 25%;
    text-align: center;
    margin: 0 auto;
    width: 40vw;
    height: 8vh;
    line-height: 8vh;
    background-color: #ffffff;
    border-radius: 10px;
}
