<div class="page-body">
  <app-common-header message={{message}}></app-common-header>
  <div class="page-content self-page">
    <div class="self-Info">
      <img src="../../../assets/images/head.jpg" alt="">
      <h4  [routerLink]="[ '/login']">立即登录</h4>
    </div>
    <div class="self-session">
      <div class="myInfo">
        <i class="icon iconfont icon-cart"></i>
        <span  [routerLink]="[ '/cart']">我的购物车</span>
        <i class="icon iconfont icon-1201youjiantou"></i>
      </div>
      <div class="myInfo">
        <i class="icon iconfont icon-book"></i>
        <span>我的地址</span>
        <i class="icon iconfont icon-1201youjiantou"></i>
      </div>
    </div>
    <div class="self-session">
      <div class="myInfo">
        <i class="icon iconfont icon-23"></i>
        <span>软件反馈</span>
        <i class="icon iconfont icon-1201youjiantou"></i>
      </div>
      <div class="myInfo">
        <i class="icon iconfont icon-book"></i>
        <span>常见问题</span>
        <i class="icon iconfont icon-1201youjiantou"></i>
      </div>
      <div class="myInfo">
        <i class="icon iconfont icon-zhifeiji1"></i>
        <span>关于我们</span>
        <i class="icon iconfont icon-1201youjiantou"></i>
      </div>
    </div>
  </div>
</div>