<div class="navBottom">
    <div [routerLink]="[ '/home']" routerLinkActive="active" ><i class="icon iconfont icon-home"></i>主页</div>
    <div [routerLink]="[ '/list']" routerLinkActive="active" ><i class="icon iconfont icon-fenlei"></i>全部商品</div>
    <div [routerLink]="[ '/cart']" routerLinkActive="active" ><i class="icon iconfont icon-cart"></i>购物车</div>
    <div [routerLink]="[ '/myself']" routerLinkActive="active" ><i class="icon iconfont icon-people"></i>个人中心</div>
    <div [routerLink]="[ '/register']" routerLinkActive="active" ><i class="icon iconfont icon-people"></i>注册</div>
</div>